.banner{
    background-image: url("https://thumbs.dreamstime.com/b/world-cuisine-chicken-recipes-collage-menu-background-214329316.jpg"); 
    background-size: cover;
    position: relative;
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.welcome-text {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    color: #000;
    padding:16px;
    border-radius:8px;
    margin:0;
    text-align: center;
    font-size: 100px;
    /* font-size: 6em; */
    mix-blend-mode: screen;
    opacity: 0.9;
}

.welcome-text h1:last-child {
    mix-blend-mode: normal;
    background: none;
    color: transparent;
    box-shadow: 0 0 16px #000, 0 0 32px #000;
}