h1{
    margin-right:50px;
    color: black;
}

.left{
    display:flex;
    flex-direction:row;
    
    /* display:inline; */

    /* overflow: wrap; */
    /* justify-content: space-between; */
    float: right;  
}

.right {
    display: flex;
    flex-direction:row;
    /* overflow: wrap; */
    /* justify-content: space-between; */
    float: left;  
    overflow: scroll;
    flex-shrink:1;
}

.logo-img{
    height: 70px;
}

.navbar{
    color:#672020;
    margin-bottom: 70px;
    max-height: 50%;  
    /* display: flex;
    flex-direction: row; */
}