.list-details-hero-contents {
	padding-top: 25px;
	text-align: center;
	color: white;
}

.list-title{
    font-size: 50px;
    color:white;
	margin-left: 50px;
	margin-bottom:20px;
	margin-top:60px;
}

.list-num-of-recipes {
	font-size: 20px;
}